<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:resource-ref>
    <javaee:description>Music DB Connection</javaee:description>
    <javaee:res-ref-name>jdbc/MusicDB</javaee:res-ref-name>
    <javaee:res-type>javax.sql.DataSource</javaee:res-type>
    <javaee:res-auth>Container</javaee:res-auth>
  </javaee:resource-ref>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.geek.musica.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListaCaseDicografiche</servlet-name>
    <servlet-class>it.geek.musica.controller.ListaCaseDiscograficheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VisualizzaCasaDiscografica</servlet-name>
    <servlet-class>it.geek.musica.controller.VisualizzaCasaDiscograficaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestioneAutore</servlet-name>
    <servlet-class>it.geek.musica.controller.GestioneAutoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.geek.musica.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestioneUtente</servlet-name>
    <servlet-class>it.geek.musica.controller.GestioneUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListaCaseDicografiche</servlet-name>
    <url-pattern>/listaCaseDiscografiche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisualizzaCasaDiscografica</servlet-name>
    <url-pattern>/visualizzaCasaDiscografica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestioneAutore</servlet-name>
    <url-pattern>/gestioneAutore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestioneUtente</servlet-name>
    <url-pattern>/gestioneUtenti</url-pattern>
  </servlet-mapping>
</web-app>